.container_card__links {
    height: 270px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.container_card__links > a {
    height: 49px;
    border-radius: 4px;
    border: solid 2px var(--purple);
    margin-top: 15px;
    text-decoration: none;
    transition: 0.7s;
    font-weight: var(--font-semibold);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_card__links > a:hover {
    background-color: var(--purple);
    color: var(--body-bg-color);
}
