.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.container_card {
    width: 325px;
    height: 600px;
}








