:root {
    --body-bg-color: #FAF7FD;
    --purple: #8663ea;
    --body-bg-darkmod: #362b40;
    --font-thin: 300;
    --font-semibold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    color: var(--purple);
}